wsdl/TransactionService.svc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TransactionService" targetNamespace="http://ruru.ru/serviceprovider/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ruru.ru/serviceprovider/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:i0="http://178.20.234.188/RuRu.FrontEnd.ServiceProvider2/TransactionService.svc"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:import namespace="https://178.20.234.188/RuRu.FrontEnd.ServiceProvider2/TransactionService.svc"
                 location="TransactionService.svc.wsdl0.wsdl"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://ruru.ru/serviceprovider/Imports">
            <xsd:import
                    schemaLocation="TransactionService.svc.xsd0.xsd"
                    namespace="http://ruru.ru/serviceprovider/"/>
            <xsd:import
                    schemaLocation="TransactionService.svc.xsd1.xsd"
                    namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import
                    schemaLocation="TransactionService.svc.xsd2.xsd"
                    namespace="http://schemas.datacontract.org/2004/07/RuRu.FrontEnd.ServiceProvider.Contract"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ITransactionService_PreInit_InputMessage">
        <wsdl:part name="parameters" element="tns:PreInit"/>
    </wsdl:message>
    <wsdl:message name="ITransactionService_PreInit_OutputMessage">
        <wsdl:part name="parameters" element="tns:PreInitResponse"/>
    </wsdl:message>
    <wsdl:message name="ITransactionService_Init_InputMessage">
        <wsdl:part name="parameters" element="tns:Init"/>
    </wsdl:message>
    <wsdl:message name="ITransactionService_Init_OutputMessage">
        <wsdl:part name="parameters" element="tns:InitResponse"/>
    </wsdl:message>
    <wsdl:message name="ITransactionService_ReserveCallback_InputMessage">
        <wsdl:part name="parameters" element="tns:ReserveCallback"/>
    </wsdl:message>
    <wsdl:message name="ITransactionService_ReserveCallback_OutputMessage">
        <wsdl:part name="parameters" element="tns:ReserveCallbackResponse"/>
    </wsdl:message>
    <wsdl:message name="ITransactionService_PurchaseCallback_InputMessage">
        <wsdl:part name="parameters" element="tns:PurchaseCallback"/>
    </wsdl:message>
    <wsdl:message name="ITransactionService_PurchaseCallback_OutputMessage">
        <wsdl:part name="parameters" element="tns:PurchaseCallbackResponse"/>
    </wsdl:message>
    <wsdl:message name="ITransactionService_GetTransactionStatus_InputMessage">
        <wsdl:part name="parameters" element="tns:GetTransactionStatus"/>
    </wsdl:message>
    <wsdl:message name="ITransactionService_GetTransactionStatus_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetTransactionStatusResponse"/>
    </wsdl:message>
    <wsdl:portType name="ITransactionService">
        <wsdl:operation name="PreInit">
            <wsdl:input wsaw:Action="http://ruru.ru/serviceprovider/ITransactionService/PreInit"
                        message="tns:ITransactionService_PreInit_InputMessage"/>
            <wsdl:output wsaw:Action="http://ruru.ru/serviceprovider/ITransactionService/PreInitResponse"
                         message="tns:ITransactionService_PreInit_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Init">
            <wsdl:input wsaw:Action="http://ruru.ru/serviceprovider/ITransactionService/Init"
                        message="tns:ITransactionService_Init_InputMessage"/>
            <wsdl:output wsaw:Action="http://ruru.ru/serviceprovider/ITransactionService/InitResponse"
                         message="tns:ITransactionService_Init_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ReserveCallback">
            <wsdl:input wsaw:Action="http://ruru.ru/serviceprovider/ITransactionService/ReserveCallback"
                        message="tns:ITransactionService_ReserveCallback_InputMessage"/>
            <wsdl:output wsaw:Action="http://ruru.ru/serviceprovider/ITransactionService/ReserveCallbackResponse"
                         message="tns:ITransactionService_ReserveCallback_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="PurchaseCallback">
            <wsdl:input wsaw:Action="http://ruru.ru/serviceprovider/ITransactionService/PurchaseCallback"
                        message="tns:ITransactionService_PurchaseCallback_InputMessage"/>
            <wsdl:output wsaw:Action="http://ruru.ru/serviceprovider/ITransactionService/PurchaseCallbackResponse"
                         message="tns:ITransactionService_PurchaseCallback_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetTransactionStatus">
            <wsdl:input wsaw:Action="http://ruru.ru/serviceprovider/ITransactionService/GetTransactionStatus"
                        message="tns:ITransactionService_GetTransactionStatus_InputMessage"/>
            <wsdl:output wsaw:Action="http://ruru.ru/serviceprovider/ITransactionService/GetTransactionStatusResponse"
                         message="tns:ITransactionService_GetTransactionStatus_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:service name="TransactionService">
        <wsdl:port name="BasicHttpBinding_ITransactionService" binding="i0:BasicHttpBinding_ITransactionService">
            <soap:address location="https://178.20.234.188/RuRu.FrontEnd.ServiceProvider2/TransactionService.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>