wsdl/TransactionService.svc.xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RuRu.FrontEnd.ServiceProvider.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/RuRu.FrontEnd.ServiceProvider.Contract"><xs:complexType name="PreInitResult"><xs:sequence><xs:element minOccurs="0" name="Amount" type="xs:decimal"/><xs:element minOccurs="0" name="AmountWithCommission" type="xs:decimal"/><xs:element minOccurs="0" name="Commission" type="xs:decimal"/><xs:element minOccurs="0" name="ErrorCode" type="xs:int"/><xs:element minOccurs="0" name="Info" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="TransactionId" type="xs:long"/></xs:sequence></xs:complexType><xs:element name="PreInitResult" nillable="true" type="tns:PreInitResult"/><xs:complexType name="TransactionStatus"><xs:sequence><xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="ErrorCode" type="xs:int"/><xs:element minOccurs="0" name="Reason" type="xs:int"/><xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="TransactionId" type="xs:long"/></xs:sequence></xs:complexType><xs:element name="TransactionStatus" nillable="true" type="tns:TransactionStatus"/></xs:schema>